
:root {
    --body-bg-color: black;
    --main-bg-color: #0b1026; /*#050f2e;*/ /*#690080;*/
    --font-color-prim: #FFFFFF;
    --font-color-sec: #A4A4A4;
}

body {
    background-color: var(--body-bg-color);
    font-family: Arial;
}

#main-container {
    background-color: var(--main-bg-color);
    margin-left: 6%;
    width: 88%;
    height: auto;
    min-height: 40%;
}

/*  ---------- Header Section   ---------------------  */


#header-container {
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #FFFFFF;
    height: 5%;

}
.header-left-section {
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-between;
    align-items: center;
    /*border: 1px red solid;*/
}


#logo-text {
    margin-left: -10%;
}

.header-left-section div p{
    font-family: Arial;
    font-size: x-large;
}
.image-circle {
   height: 80px;
   width: 80px;
   border-radius: 50%;
}

#favourite {
    font-family: Arial;
    margin-left: 40%;
}

.header-right-section {
    /*border: 1px red solid;*/
    background-color: var(--main-bg-color);
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header-search {
   /* padding: 1%;*/
    width: 55%;
    /*border: 1px red solid;*/
}

.header-search i {
    position: absolute;
}

.search-icon {
    padding: 0.7% ;
    color: rgb(49, 0, 128);
    width: 70px;
    text-align: left;
    color: lightgrey;
}

.search-input {
    width: 80%;
    padding: 3% 10%;
    text-align: left;
    font-size: 1rem;
    font-weight: 300;
    border: none;
    border-radius: 8px;
    background-color: #11193e; /*#180D42*/
    color: #FFFFFF;
}

.mic-icon {
    padding: 0.7%;
    color: rgb(49, 0, 128);
    width: 70px;
    color: gray;
    margin-left: -3%;
}

.bell-icon {
    width: 40px;
    height: 40px;
    margin-left: 15%;
}

#artist-header-icon {
    height: 60px;
    width: 60px;
    margin-left: 10%;
}


/* ----------    Main Area    --------------  */

.main-view {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main-view-content {
    width: 66%;
    /*border: 1px red solid;*/
}


/* ----------- Right Side Queue Songs Section  -------------- */

.queue-section {
    width: 33%;
    height: 100vh;
    overflow: hidden;
    margin-left: 1%;
    /*border: 1px red solid;*/
}

.queue-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #FFFFFF;
}

.collapsible {
    background-color: var(--main-bg-color);
    color: white;
    cursor: pointer;
    padding: 12px;
    width: 90%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 25px;
}

.active, .collapsible:hover {
    background-color: var(--main-bg-color);
}

.collapsible:after {
    content: "Queue \2001 \02C4";
    color: cyan;
    font-weight: normal;
    font-size: small;
    float: right;
    padding-right: 3%;
}

.active:after {
    content: "Queue \2001 \02C5";
    font-weight: normal;
    font-size: small;
    float: right;
    padding-right: 3%;

}

.q-content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: var(--main-bg-color);
    color: gray;
}

.ol-HomePage {
    vertical-align: middle;
    list-style-type:decimal-leading-zero;
}

.li-HomePage {
    vertical-align: middle;
    margin-bottom: 5%;
    width: 90%;
    font-family: Arial;
    font-size: smaller;
}

.li-HomePage img {
    vertical-align:middle;
    margin: 0 4%;
}

.nav-text {
    display: inline-block;
    vertical-align: middle;
    font-family: Arial;
    color: #FFFFFF;
    font-size: small;
}

.nav-text div {
    font-size: smaller;
    color: gray;
    margin-top: 10%;
}

.q-heart {
    float: right;
}


/*  ------------- Mid Body Section   -------------   */

/* --------- Latest Release ------------- */

.latest-release-parent {
    color: #FFFFFF;
    margin-left: 13%;
    margin-top: 5%;
}
.section_headers {
    /*margin-left: -2%;*/
}
.latest-release-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   /* border: solid 1px red;*/
}

.latest-release-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    width: 50%;
    margin-bottom: 2%;
    /*margin-left: -2%;*/
}

.latest-release-block img {
    margin-right: 5%;
}
.la-rel-time {
    margin-top: -13%;
    margin-left: 33%;
    float: right;
}


/* ------------ Popular Artists ------------- */

.popular-artists-parent {
    margin-top: 4%;
    width: 80%

}
.flex-blocks {
    margin-right: 2%;
}

.image-circle-big {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    margin-bottom: 1%;
}
.artists_name {
    margin-top: -0.05%;
    padding-top: 2%;
    text-align: center;
}

/* ------------ Music Genre Section - 1  ----------- */

.genre-sec1-container {
    background-color: #0f1642;
    display: flex;
    flex-direction: row;
    /*justify-content: space-evenly;*/
    align-items: center;
    margin-top: 4%;
    margin-left: 13%;
}

#stations {
    height: 110px;
    width: 130px;
    margin: 2%;
    padding-right: 1%;
}
.genre-sec1-container span {
    margin-right: 1.5%
}

.image-circle-genre {
    height: 88px;
    width: 88px;
    /*margin-right: 2%;*/
    padding-bottom: 0%;
    border-radius: 50%;

}

/* ------------ Music Genre Section - 1  ----------- */

.genre-sec2-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: inherit;
    justify-content: space-between;
    margin-left: 13%;
    margin-top: 2%

}
.image-sq-genre-2 {
    height: 140px;
    width: 260px;
}


/* ------------ Latest English Section  ----------- */

.latest-EngHind-flex {

    justify-content: space-between;
    flex-shrink: inherit;
}

.latest-english-block {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-bottom: 4%;
    /*margin-right: 1.5%;*/
}

.latest-english-block img {
    height: 120px;
    width: 127px;

}

.latest-english-block span {
    margin-top: 3%;
}

.latest-english-block span div {
    margin-top: -0.0000001%;
}


/* -----   Music Player at Footer Section  -------- */

footer {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    overflow:unset;
    display:initial;
}

.MusicPlayer-Container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #282828;
    position: -webkit-sticky;
    position: sticky;
    top: 0;

}

.mp-artist-details {
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 6.2%;
}

.mp-artist-details img{
    margin-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.mp-song-name {
    color: lightgrey;
}

.mp-stop-symbol {
    font-size: .9rem;
    margin-top: -7%;
    margin-left: 6%;
}
.mp-artist-details img{
    height: 65px;
    width: 65px;
}

.mp-player {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -8%;
}
.mp-keys {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: lightgrey;
}

.mp-keys i {
    margin-right: 2%;
}

.mp-bar {
    text-align: center;
}
.mp-bar span{
    font-size: 0.7rem;
    color: lightgray;
}

progress {
    width: 32em;
    height: 0.25em;
    background: gray;
    color: greenyellow;
    line-height: 1.5em;
    margin: 0 0.4% 0.4% 0.35%;
}

progress::-webkit-progress-value { background: limegreen;}

.mp-controls {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: -6%;

}
.mp-controls i {
    margin-top: 8%;
    margin-right: 6%;
    color: lightgrey;
    font-size: 1.2rem;
}
.mp-controls span {
    margin-top: 7%;
    margin-right: 6%;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 4px;
    border-radius: 1px;
    cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
    cursor: pointer;
    margin-top: -6px;
}
:active::-webkit-slider-thumb {
    background: #fff;
}



/* ------  Single Playlist Screen  ------------ */


.sp-screen-container {
    display: flex;
    flex-direction: row;
}
.sp-main-area {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.sp-right-list-area {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.sp-album-summary {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #141b41;
}

.sp-album-summary #album-image {
    object-fit: cover;
    margin-right: 3%;
}
.album-info {
    width: 60%;
    display: flex;
    flex-direction: column;
}

#album-name-followers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8%;
}

#album-name {
    display: flex;
    flex-direction: column;
    margin-bottom: 1%;
}

#followers {
    margin-top: -1%;
    margin-right: 4%;
}

.font25px{
    font-family: Arial;
    font-size: 25px;
    color: #FFFFFF;
}
.fontSmall{
    font-family: Arial;
    font-size: 0.7rem;
    color: lightgray;
}

.album-button-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 6%;

}
.button-and-text {
    display: flex;
    flex-direction: column;
    margin-right: 6%;
}

#playAll {
    background-color: #3624aa;
    font-family: Verdana;
    width: 9em;
    height: 2.5em;
    border: none;
    color: white;
    padding: 2% 4%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: small;
    margin-bottom: 9%;
    background-image: linear-gradient(to right, #3624aa , #a440c3);
}

.fontVerdanaSmall {
    font-family: Verdana;
    color: lightgrey;
    font-size: small;
    margin-top: 1%;
}


/* ----------  Album Songs within Single Playlist Screen  --------  */

.sp-album-songs {
    display: flex;
    flex-direction: row;
}

.sp-album-songs ol {
    width: 100%;
    padding: 0;
}
.album-songs-block {
    background-color: #202439;
    list-style-type:decimal-leading-zero;
    list-style-position: inside;
    padding: 1%;
    margin: 0 0 0.6% 0;
    color: lightgrey;
    font-size: smaller;
}

.album-songs-block img {
    margin: 0 0.6% -1% 0.5%;
}

.album-songs-block span {
    margin-bottom: 0.5%;
}
.heart-i {
    margin-top: 1%;
    float: right;
    margin-right: 7%;
    display: flex;
    justify-content: space-between;
}
.plus-i {
    margin-left: 130%;
}



